<html lang="en">
<html>
<head>
  <title>Basics</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<style>
  .footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gainsboro;
    color: white;
    text-align: center;
  }
</style>

<div class="footer" >
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %> |
    <%= link_to "Sign out", destroy_user_session_path, method: :delete %> |
  <% end %>
  <!--    <p>Validate this site</p>-->
  <a href="https://validator.w3.org" style="color: black;">Validate this Site</a> |
  <%= link_to "Home", root_path %>
</div>
<%= yield %>
</body>
</html>